/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .red
{
    color: red;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

#upload, #profile, #feed, #logout, #register, #login
{
    color: black;
    font-family: 'Impact';
    font-weight: bold;
}

h1, h3
{
    color: white;
    font-style: italic;
}

h2 
{
    color: white;
    font-size: 50px;
    font-style: bold;
    font-family: 'Brush Script MT', cursive;
}

body
{
    background-color: crimson;
}

th
{
    color: white;
}

tr:hover
{
    background-color: #D6EEEE;
}

ins
{
    color: black;
}
