{% extends "layout.html" %} {% block title %} Profile {% endblock %} {% block
main %}
<h1>Your Reviews</h1>
<h3>Your Average Rating: {{ average_score }}</h3>
<table class="table" style="table-layout: fixed; width: 100%">
  <thead>
    <tr>
      <th class="text-start">Review</th>
      <th class="text-end">Rating</th>
      <th class="text-end">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <form action="/profile" method="post">
      <tr>
        <td class="text-start" style="word-wrap: break-word">
          {{ post["input"] }}
        </td>
        <td class="text-end">{{ post["rating"] }}</td>
        <td class="text-end">{{ post["time"] }}</td>
        <input type="hidden" name="post_id" value={{ post["post_id"] }} />
        <td class="text-end">
          <button class="btn btn-primary" type="submit">Delete</button>
        </td>
      </tr>
    </form>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
