{% extends "layout.html" %} {% block title %} Upload {% endblock %} {% block
main %}
<form action="/upload" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="symbol"
      placeholder="Symbol"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      min="1"
      name="shares"
      placeholder="Shares"
      type="number"
    />
  </div>
  <button class="btn btn-primary" type="submit">Upload</button>
</form>
{% endblock %}
