{% extends "layout.html" %} {% block title %} Upload {% endblock %} {% block
main %}
  <form action="/upload" method="post">
    <h2>
        Rating:
    </h2>
    <div class="ratings">
      <select class="form-select mx-auto w-auto" name="rating">
        <option disabled selected>Rating</option>
        <option value="1" type="number">1</option>
        <option value="2" type="number">2</option>
        <option value="3" type="number">3</option>
        <option value="4" type="number">4</option>
        <option value="5" type="number">5</option>
      </select>
    </div>

    
    <div class="mb-3">
      <h2>
        Comments:
      </h2>
      <textarea
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto"
        name="review"
        type="text"
        rows="4"
        cols="50"
      ></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Upload</button>
    </div>
  </form>
{% endblock %}
